<footer class="mt-auto text-center font-header bg-primarybg text-primarytext p-2 rounded-b-lg">
  <p>&copy; 2020 Psico Malini</p>
  <p class="text-xs">Site desenvolvido por <a aria-label="link to Developer" target="_blank" rel="noopener noreferrer" href="https://thigoap.me">thigoap</a></p>
</footer>