---
layout: base
---

<div class="sm:grid sm:grid-cols-4">
  <div class="bg-primarybg grid grid-cols-2 sm:grid-cols-1">
    <img class="w-full" src="/static/assets/natyhbio.png" alt="bio pic">
    <div class="mt-2 flex flex-col items-center justify-center sm:justify-start">
      <p class="text-sm">Agende sua consulta</p>
      <p class="text-sm"><a class="flex items-center" target="_blank" rel="noopener noreferrer" href="https://wa.me/5514996557095">
      <i class="text-xl mr-1 hover:text-whatsicon fab fa-whatsapp"></i>(14) 99655-7095</a></p>
    </div>
  </div>

  <div class="p-4 sm:col-span-3">
    <p class="text-4xl font-prata font-bold">Natália Malini</p>
    <p class="text-sm font-semibold">Psicóloga - CRP 06/118356</p>
    <br><br>
    <p class="text-lg font-prata">Quem sou eu?</p>
    <br>
    <p>Natália Malini, sou Psicóloga clínica (CRP 06/118356) e realizo atendimentos online, sou especialista em Psicoterapia Breve e Terapia Cognitivo Comportamental. Esta última utilizo como abordagem de orientação e prática clínica.</p>
    <br><br>
    <p class="text-lg font-prata">Em que posso te ajudar?</p>
    <br>
    <p>Meus atendimentos são voltados para adultos, idosos e adolescentes a partir dos 15 anos. Tenho como objetivo profissional ajudar na promoção e acessibilidade à melhor saúde mental e qualidade de vida dentro da realidade de quem está buscando a psicoterapia. Promovendo autoconhecimento, autocontrole e autoestima. Através da psicoeducação também ajudar na identificação de padrões de pensamentos e comportamentos disfuncionais para que a pessoa aprenda através de técnicas, textos e atividades, a lidar com suas demandas também fora da sessão, em seu dia-a-dia quando as coisas estão acontecendo. Realizo também supervisão clínica na abordagem da terapia cognitivo comportamental para psicólogos iniciantes.</p>
    <br><br>
    
  </div>
</div> 