---
layout: base
permalnk: /sobre/
---
<div class="my-4 mx-8">
  <p class="text-2xl my-2 text-center font-prata">Conheça a psicóloga! Sobre mim e a minha jornada na psicologia.</p>
  <div class="flex flex-col">
    <p class="text-xs text-right">Natália Malini</p>
    <p class="text-xs text-right">CRP 06/118356</p>
    <hr><br>
  </div>
  <div 
  {# class="sm:grid sm:grid-cols-2 gap-4" #}
  >
    {# <div class="flex justify-center content-start">
      <img class="w-full h-48 object-contain sm:h-full lg:w-5/6 xl:w-3/5" src="/static/assets/natyhbio.png" alt="bio pic">
    </div> #}
    <div>
      <p>Bem vinde você que chegou até aqui! Gostaria de me apresentar:</p>
      <br>
      <p>Meu nome é Natália, sou psicóloga formada pela USC (Bauru) desde 2013. Após minha formação também conclui dois cursos de especialização latu senso, um em Psicoterapia Breve (Ampliatta - Bauru) e outro em Terapia Cognitivo-Comportamental (IPECS - São José do Rio Preto), sendo esta minha abordagem de orientação prática.</p>
      <br>
      <p>Além dos atendimentos clínicos fui professora por quase três anos em instituto técnico de matérias como Psicologia aplicada à saúde/enfermagem, ética profissional, psicologia e ética. Também trabalhei em diversos centros-dia para idosos como psicóloga oficineira e gestora, e breve tempo com RH. Mas meu amor está todinho na prática clínica. Busco sempre cursos e leituras, afinal como estamos constantemente mudando e nos adaptando, os estudos nunca param!</p>
      <br>
      <p>Atualmente moro em São Paulo e atendo apenas na modalidade online. Os resultados são positivos e devido tamanha acessibilidade, economia de tempo e dinheiro, a adaptação como profissional e de quem procura, a modalidade cresceu rápido.</p>
      <br>
      <p>O público que atendo é adolescentes a partir dos 15 anos, adultos e idosos. Menores de idade deverão ter o termo de consentimento preenchido por um responsável, que não só faz a primeira sessão como participa do processo em momentos pontuais. </p>
      <br>
      <p>Você pode encontrar mais textos e vídeos criados por mim em outras páginas profissionais nas redes sociais na aba contato, e alguns até mesmo aqui na aba blog!</p>
      <br>
      <p>Fico à disposição para esclarecimento de dúvidas, curiosidades e inclusive marcamos uma sessão 😊 </p>
    </div>
  </div>
</div>
